html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #CC9933;
  text-decoration: none;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

body {
  min-width: 1200px;
  font-family: 'font', sans-serif;
  background: #F1F1F1;
}

h2,
h3 {
  margin: 0;
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 13px 20px;
  color: #CC9933;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #CC9933;
  border-radius: 10px;
}

.container {
  flex-direction: column;
  display: flex;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 40px;
}

.section-offset {
  padding-bottom: 70px;
}

/* header */
.header {
  padding-top: 30px;
  padding-bottom: 70px;
}

.top-header-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-end;
  background-color: #fff;
}

.header-logo {
  margin-right: 40px;
  border-radius: 15px;
}

.account {
  margin-left: auto;
  padding-left: 30px;
  background-image: url(../img/keyboard_tab.svg);
  background-position: left;
  background-repeat: no-repeat;
}

.header-list {
  display: flex;
  margin-left: 45px;
  margin-right: 114px;
}

.header-list-item:not(:last-child) {
  margin-right: 40px;
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}

/* special-offers */

.offers-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.offers-block-left {
  margin-right: 24px;
}

.offer-text-title {
  margin-bottom: 15px;
}

.offer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 573px;
  min-height: 258px;
  padding: 40px 108px 40px 45px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: padding-box;
}

.first-offer {
  margin-bottom: 25px;
  background-image: url("../img/1-offer.jpg");
}

.second-offer {
  background-image: url("../img/2-offer.jpg");
}

.third-offer {
  min-height: 540px;
  padding: 212px 229px 40px 45px;
  background-image: url("../img/3-offer.jpg");
}

/* about us */

/* services */
.services-preview {
  flex-wrap: wrap;
  border-radius: 15px;
  background-color: #fff;
}

.services-block-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -24px;
}

.services-block-item {
  display: flex;
  flex-direction: column;
  width: 573px;
  margin-bottom: 24px;
}

.services-block-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.serivices-preview-text {
  display: flex;
  flex-direction: column;
  padding: 26px 126px 35px 45px;
}

.serivice-title {
  margin-bottom: 10px;
}

/* advantages */
.advanteges-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: -22px;
}

.advanteges-list-item {
  display: flex;
  flex-direction: column;
  max-width: 276px;
  margin-bottom: 22px;
  padding: 116px 42px 32px 45px;
  background-color: #fff;
  border-radius: 15px;
}

.advanteges-list-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advanteges-image {
  width: 67px;
  height: 66px;
  margin-bottom: 10px;
}

/* placement */
.placement-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: -20px;
}

.placement-list-item {
  display: flex;
  flex-direction: column;
  width: 374px;
  min-height: 440px;
  margin-bottom: 20px;
  border-radius: 15px;
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-size: contain;
}

.placement-list-item:not(:nth-child(3n)) {
  margin-right: 20px;
}

.placement-list-item:last-child {
  text-align: center;
  justify-content: end;
}

.placement-price-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.placement-descr {
  display: flex;
  flex-direction: column;
  padding: 32px 45px 45px;
}

.price-from,
.hotel-name {
  margin-bottom: 16px;
}

.city-country {
  margin-bottom: 20px;
}

.see-all-options {
  margin-bottom: 27px;
}

/* contacts */
.contacts-container {
  flex-direction: column;
}

.contacts-container-box {
  flex-direction: row;
  border-radius: 15px;
  background: #FFFFFF;
}

.contacts-address {
  flex-direction: column;
  padding: 45px 52px 45px 45px;
}

.contacts-list {
  flex-direction: column;
}

.contacts-image {
  width: 653px;
  height: 528px;
  margin: 45px 45px 45px 0;
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 25px;
}

.contacts-route {
  margin-top: 45px;
}
